/* Reset CSS - Remise à zéro des styles par défaut */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
input {
    width: 100%;
    vertical-align: bottom;
}
a,
li {
    text-decoration: none;
    list-style-type: none;
}